.Patrimo .main {
    display: flex;
    flex-direction: row;

    height: calc(100% - 85px);
}

.Patrimo .main .left {
    position: relative;
    
    height: inherit;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.Patrimo .main .right .legend {
    font-size: smaller;
    color: initial;
    position: absolute;
    width: 100%;
    background: white;
    bottom: 0;
}


.Patrimo .main .right {
    width: 40%;
    max-height: 575px;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.Patrimo .main .left .text {
    position: relative;
    height: inherit;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.Patrimo .main .left .text span {
    hyphens: auto;
}

.Patrimo .main .left .text span * {
    color: initial;
    font-size: small
}

.Patrimo .main .left .text .annotations {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 15px;
}

.Patrimo .main .left .text .annotations span.annotation {
    font-size: x-small;
}

.Patrimo .footer {
    width: 100%;
    bottom: 5px;
    left: 0;
    
    justify-content: end;
}