.Epernon .main {
    display: flex;
    flex-direction: row;

    height: calc(100% - 85px);
}

.Epernon .main .left {
    position: relative;
    
    height: inherit;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.Epernon .main .right .legend {
    font-size: smaller;
    color: initial;
    position: absolute;
    width: 100%;
    background: white;
    bottom: 0;
}


.Epernon .main .right {
    width: 40%;
    max-height: 575px;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.Epernon .main .left .text {
    position: relative;
    height: inherit;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.Epernon .main .left .text span {
    hyphens: auto;
}

.Epernon .main .left .text span * {
    color: initial;
    font-size: small
}

.Epernon .main .left .text .annotations {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 15px;
}

.Epernon .main .left .text .annotations span.annotation {
    font-size: 0.89em;
}

.Epernon .footer {
    width: 100%;
    bottom: 5px;
    left: 0;
    
    justify-content: end;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeSmall.MuiButton-textSizeSmall.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeSmall.MuiButton-textSizeSmall.css-15oo7et-MuiButtonBase-root-MuiButton-root:nth-child(3) {
    /* width: inherit; */
}