.Archive {
    position: relative;
    display: flex;
    flex-direction: column;
}

.Archive .main {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: calc(85% - 100px);
}

.Archive .main .left {
    width: 30%;
}


.Archive .main .left .text span {
    display: flex;
    width: 100%;
    text-align: justify;
}

.Archive .main .right {
    width: 70%;
}

.Archive .footer {
    width: 100%;
    bottom: 5xp;
    left: 0;
    
    justify-content: end;
}

.Archive .cards {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;

    
    overflow-y: scroll;
    overflow-x: hidden;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-v6mruo-MuiButtonBase-root-MuiButton-root {
    color: orangered !important;
    font-weight: bold;
}

.MuiModal-root .MuiBox-root.css-1wnsr1i .modalContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.MuiModal-root .MuiBox-root.css-1wnsr1i .modalContent input {
    color: black;
}

.MuiModal-root .MuiBox-root.css-1wnsr1i .modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}