@import './import-fonts.css';

* {
  box-sizing: border-box;
  color: orangered
}

html {
  overflow: hidden;
  font-family: 'Degular Display';
}

::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
  margin: 2px 2px;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;

  padding: 60px;

  justify-content: center;
}

.titles h1 {
  font-size: 5em;
}

.titles h4 {
  margin-top: 5px;
  font-size: 1.75em;
  min-height: 20px;
}

.link {
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: bolder;
}

.text span {
  font-size: 1.25em;
  line-height: 1.30;
  text-align: justify;
  hyphens: auto;
  
  color: initial;
}

.text span.alternate {
  font-size: 1.4em;
}

.container {
  position: relative;
  top: 50px;

  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

.container .main {
  display: flex;
  gap: 37.5px;
}

.container .main .left.intro {
  width: 30%;
}

.container .main .right.intro {
  width: 70%;
}

.footer {
  position: absolute;

  width: 100%;
  bottom: 30px;
  left: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}