@import './import-fonts.css';

* {
  box-sizing: border-box;
  font-family: 'Degular';
}

html {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
  margin: 2px 2px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;

  padding: 60px;

  justify-content: center;
}