@import './import-fonts.css';

* {
  box-sizing: border-box;
  color: orangered
}

html {
  overflow: hidden;
  font-family: 'Degular Display';
}

::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
  margin: 2px 2px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;

  padding: 60px;

  justify-content: center;
}

.titles h1 {

}

.titles h4 {

}

.link {
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: bolder;
}

.text span {
  color: initial;
  font-size: 1.25em;
  line-height: 1.30;
}