@font-face {
    font-family: 'Degular Display Medium';
    src: url('./assets/fonts/Degular Display Medium.ttf');
}

@font-face {
    font-family: 'Degular Display Regular';
    src: url('./assets/fonts/Degular Display Regular.ttf');
}

@font-face {
    font-family: 'Degular Medium';
    src: url('./assets/fonts/Degular Medium.ttf');
}

@font-face {
    font-family: 'Degular Regular';
    src: url('./assets/fonts/Degular Regular.ttf');
}

@font-face {
    font-family: 'Degular Italic';
    src: url('./assets/fonts/Degular Italic.ttf');
    font-style: italic, oblique;
}
