@font-face {
    font-family: 'Degular Display Subtitle';
    src: url('./assets/fonts/Degular Display Regular.ttf');
}

@font-face {
    font-family: 'Degular Display Text';
    src: url('./assets/fonts/Degular Display Medium.ttf');
}

@font-face {
    font-family: 'Degular Display Italic';
    src: url('./assets/fonts/Degular Display Italic.ttf');
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Degular Display Note';
    src: url('./assets/fonts/Degular Display Light Italic.ttf');
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Degular Display Title';
    src: url('./assets/fonts/Degular Display Bold.ttf');
    font-style: bold;
}
