/* .Gallery {
    display: grid;

    justify-content: center;
    align-content: center;

    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-gap: 39.7px;
}

.Gallery .leftSide, .rightSide {
    position: relative;
    height: 52%;
    align-self: center;
}

.Gallery .leftSide {
    display: flex;
    flex-direction: row;

    max-width: 880px;
}

.Gallery .leftSide .left, .leftSide .right {
    position: relative;
    width: 50%;
    height: 50%;
    max-width: 440px;

    display: flex;

    flex-direction: column;
    align-self: auto;
}

.Gallery .leftSide .left {
    height: 100%;
    padding-right: 19.85px;
    text-align: right;
}

.Gallery .leftSide .left .projectName{
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: xxx-large;
    line-height: normal;
}

.Gallery .leftSide .left .subtitles {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.Gallery .leftSide .left .subtitles span {
    font-weight: bold;
}


.Gallery .leftSide .right {
    padding-left: 19.85px;
    font-size: small;
}

.Gallery .rightSide {
    display: flex;
    grid-gap: 39.7px;
    align-items: flex-start;
}

.Gallery .rightSide .images {
    width: 571px;

    display: flex;
    grid-gap: 39.7px;
    flex-direction: row;
    flex-wrap: wrap;
}

.Gallery .rightSide .images.scrollable {
    overflow: scroll;
    height: 650px;
}

.Gallery .rightSide .images .imageContainer {
    position: relative;

    max-width: 264px;
    max-height: 210px;

    cursor: pointer;
}

.Gallery .rightSide .images .imageContainer .blackVeil {
    position: absolute;
    top: 0;
    left: 0;

    background: black;
    opacity: 0.15;

    width: 100%;
    height: 100%;
}

.Gallery .rightSide .images .imageContainer .text {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;

    padding-right: 10px;
    padding-bottom: 5px;

    font-weight: bold;
    z-index: 9999;

    color: white;
}

.Gallery .rightSide .filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Gallery .rightSide .filters .filter-container {
    position: relative;
}

.Gallery .rightSide .filters h2{
    margin-top: 0;
}

.Gallery .rightSide .filters .filter-container .filter {
    width: fit-content;
    padding: 2px 8px;
    border: 1px black solid;
    text-transform: capitalize;
    cursor: pointer;
}

.Gallery .rightSide .filters .filter-container .filter.selected {
    padding: 3px 10px;
    border: 2px black solid;
    font-weight: bold;
}

.Gallery .rightSide .filters .filter-container .filter:hover {
    opacity: 0.5;
} */

.Gallery {
    position: relative;
    display: flex;
    flex-direction: column;
}

.Gallery .main {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: calc(85% - 100px);
}

.Gallery .main .left {
    width: 30%;
}
.Gallery .main .right {
    width: 70%;
}

.Gallery .footer {
    width: 100%;
    bottom: 0;
    left: 0;
    
    justify-content: end;
}

.Gallery .cards {
    position: relative;
    height: 100%;
    width: 100%;

    display: grid;

    justify-content: center;
    align-content: center;

    grid-template-columns: 50% 50%;
    grid-gap: 15px;
    
    overflow-y: scroll;
    overflow-x: hidden;

    padding-top: calc(39% - 10px);
}

.Gallery .cards .card {
    background-color:bisque;
    /* height: calc(50% - 39.7px); */
    width: calc(100% - 6px);
    min-height: 265px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-v6mruo-MuiButtonBase-root-MuiButton-root {
    color: orangered !important;
    font-weight: bold;
}

.MuiModal-root .MuiBox-root.css-1wnsr1i .modalContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.MuiModal-root .MuiBox-root.css-1wnsr1i .modalContent input {
    color: black;
}

.MuiModal-root .MuiBox-root.css-1wnsr1i .modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}